:root {
    --black: #333;
    --white: #fff;
    -secondary: #ccc;
    --accent: #557aff;

    --font-main: 'Jost', sans-serif;
    --transition: all .3s ease-in-out;
}


body {
    font-family: var(--font-main);
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}

h1 {
    color: var(--accent);
}

.card {
    width: 250px;
}

.card img {
    border-radius: 15px;
    margin-bottom: 15px;
}

.card__content {
    padding: 20px;
}

.card__content h3 {
    font-size: 22px;
    margin-bottom: 15px
}

.card__content p {
    font-size: 16px;
    color: #4f4f4f;
}